body{
	padding-top:0px;
}
.result{
	height:120px;
	background-color: black;
	padding-left:80px;
	padding-right:80px;
}
.masthead{
	background-image:url('/public/images/Coffee-Table-1024x682.jpg');
	background-size:cover;
}